.client {
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 100px;
  }
  &__texts {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    margin-right: 60px;
  }
  &__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
  }
  &__desc {
    width: 336px;
    font-size: 18px;
    line-height: 160%;
    color: #757575;
  }

  &__link {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 60px;
    }
  }
}

@media only screen and (max-width: 1050px) {
  .client {
    &__wrap {
      flex-direction: column;
      row-gap: 80px;
      text-align: center;
    }
  }
}
