/* ROOT */
:root{
    --main-font-family: "Averta Demo PE Cutted Demo", "Arial", sans-serif;
    --main-font-weight: 400; 
    --main-body-bg-color: #fff;
}

@font-face {
    font-display: swap; 
    font-family: 'Averta Demo PE Cutted Demo';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Averta-Demo-PE-Cutted-Demo.woff2') format('woff2');
    src: url('../assets/fonts/Averta-Demo-PE-Cutted-Demo.woff') format('woff');
}

*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

img{
    display: block;
    height: auto;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: var(--main-font-family);
    font-weight: var(--main-font-weight);
    background-color: var(--main-body-bg-color);
}

.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}



.site-main{
    flex-grow: 1;
}