.header {
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }
  &__logo {
    width: 200px;
    object-fit: cover;
  }
  &__select {
    font-family: "Averta Demo PE Cutted Demo", "Arial", sans-serif;
    font-weight: bold;
    font-size: medium;
    border: none;
    border-bottom: 2px solid #1a233b;
    border-radius: 5px;
    cursor: pointer;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  &__item {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    padding: 15px 12.5px;
    border-radius: 20px;
    a {
      color: #1a233b;
    }
    &:hover {
      font-weight: bold;
      background-color: #d9e2ff;
    }
    &:active {
      background-color: #bccaff;
    }
  }
  &__menu {
    font-weight: bold;
    font-size: 25px;
    color: #000000;
    background-color: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    cursor: pointer;
    display: none;
  }
}

@media only screen and (max-width: 1130px) {
  .header {
    &__menu {
      display: block;
      visibility: visible;
    }
    &__list {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 16px;
      background-color: #eeeeee;
      transform: translateY(-120vh);
      transition: all ease 1s;
    }
    &__item {
      font-size: 24px;
    }
    &__close-btn {
      position: absolute;
      top: 35px;
      right: 25px;
      font-size: 30px;
      color: darkred;
    }
    .responsive_nav {
      transform: none;
    }
  }
}
